<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">
<!--    id, name, category_id, price, image, description, status,
 create_time, update_time, create_user, update_user-->
    <update id="update">
        update sky_take_out.dish
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="categoryId!=null">
                category_id=#{categoryId},
            </if>
            <if test="price!=null">
                price=#{price},
            </if>
            <if test="image!=null">
                image=#{image},
            </if>
            <if test="description!=null">
                description=#{description},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete
        from sky_take_out.dish
        where id in
        <foreach collection="ids" separator="," open="(" item="id" close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectLimit" resultType="com.sky.vo.DishVO">
        select d.*,c.name as categoryName from sky_take_out.dish d left join sky_take_out.category c on c.id =
        d.category_id
        <where>
            <if test="name!=null and name!=''">
                d.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId!=null">
                and d.category_id=#{categoryId}
            </if>
            <if test="status!=null">
                and d.status=#{status}
            </if>
        </where>
        order by d.create_time desc
    </select>
    <select id="selectByTypeId" resultType="com.sky.entity.Dish">
        select * from sky_take_out.dish
        <where>
            <if test="name!=null">
                name like concat('%',#{name},'%')
            </if>
        <if test="categoryId!=null">
          and  category_id=#{categoryId}
        </if>
        <if test="status!=null">
          and  status=#{status}
        </if>
        </where>
        order by create_time desc
    </select>
</mapper>